<div class="BoardMember">
  <div class="BoardMember-card">
    <img class="BoardMember-photo" src="{{member.data.image}}">

    <div class="BoardMember-name">
      {{ member.data.name }}
    </div>
  </div>

  <details class="BoardMember-details">
    <summary class="BoardMember-summary">
      {{ member.content | truncate: 200 }}
    </summary>

    <div class="BoardMember-body">
      {{ member.content }}
    </div>
  </details>
</div>