<article class="BoardMember">
  <img
    class="BoardMember-photo"
    src="{{member.data.image}}"
    width=300
    height=300>

  <div class="BoardMember-body">
    <h1 class="BoardMember-name">{{ member.data.name }}</h1>
    {{ member.content }}
  </div>
</article>