<details class="BoardMember">
  <summary class="BoardMember-summary">
    <div class="BoardMember-card">
      <img
        class="BoardMember-photo"
        src="{{member.data.image}}"
        width=300
        height=300
      >

      <div class="BoardMember-name Box">
        {{ member.data.name }}
      </div>

      <div class="BoardMember-brief Box">
        {{ member.data.brief }}
      </div>
    </div>

    <div class="BoardMember-overlay"></div>
  </summary>

  <div class="BoardMember-modal">
    <article class="BoardMember-body">
      {{ member.content }}
    </article>
  </div>
</details>