<details class="BoardMember">
  <summary class="BoardMember-summary">
    <div class="BoardMember-card">
      <img
        class="BoardMember-photo"
        src="{{ member.data.image }}"
        width=300
        height=300>

      <div class="BoardMember-name Box">
        {{ member.data.name }}
      </div>

      <div class="BoardMember-brief Box">
        {{ member.data.brief }}
        <span class="BoardMember-readMore">Read more…</span>
      </div>
    </div>

    <div class="BoardMember-overlay"></div>
  </summary>

  <div class="BoardMember-modal">
    <article class="BoardMember-body Box Box--big">
      <section class="BoardMember-content">
        {{ member.content }}
      </section>

      <svg class="BoardMember-close" viewBox="0 0 10 10">
        <path d="M 0 0 L 10 10 M 0 10 L 10 0">
      </svg>
    </article>
  </div>
</details>