/* -- .DonateSection -- */
.DonateSection + .DonateSection {
  margin-top: $spacing3;
  padding-top: $spacing3;
  border-top: 1px dashed black;
}

.DonateSection-title {
  display: flex;
  justify-content: center;
  font-size: $fontSize1;
}
