/* -- theme -- */
.Donate {
  --color0: $colorDonate0;
  --color1: $colorDonate1;
}

.NavLink--donate:hover {
  color: $colorDonate0;
  background-color: $colorDonate1;
}

.Donate .NavLink--donate {
  color: $colorDonate0;
  background-color: $colorDonate1;
  pointer-events: none;
}

/* -- .Donate -- */
@media (min-width: $desktop) {
  .Donate .Page-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .Donate .PageSection {
    flex: 1;
  }

  .Donate .PageSection + .PageSection {
    margin-top: 0;
    padding-top: 0;
    margin-left: $spacing7;
  }
}

/* -- .Donation -- */
.Donation {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (min-width: $desktop) {
  .Donate .Page-content {
    flex-direction: row;
  }
}

.Donation-form {
  display: flex;
  align-self: center;
}

.Donation-widget {
}
