/* -- theme -- */
.Home {
  --color0: $colorHome0;
  --color1: $colorHome1;
  --color2: $colorHome2;
}

.NavLink--home:hover {
  color: $colorHome0;
  background-color: $colorHome1;
}

.Home .NavLink--home {
  color: $colorHome0;
  background-color: $colorHome1;
  pointer-events: none;
}

/* -- .Mission -- */
/* -- .Mission-title -- */
.Mission-title {
  padding-bottom: 25px;
  font-size: $fontSize2;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: $colorHome1;
  transform: rotate(0.5deg);
}

@media (min-width: $desktop) {
  .Mission-title {
    padding-top: $spacing3;
    padding-bottom: $spacing3;
    font-size: $fontSize3;
  }
}

/* -- .Mission-lines -- */
.Mission-lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $marginVertical;
  gap: $spacing6;
}

@media (min-width: $desktop) {
  .Mission-lines {
    margin-top: $marginDesktopVertical;
    gap: $spacing7;
  }
}

/* -- .MissionLine  -- */
.MissionLine {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.MissionLine-image {
  align-self: stretch;
  max-width: 100%;
  max-height: 210px;
  aspect-ratio: 2 / 1;
  margin-left: -$spacing0;
  border-radius: $borderRadius0;
  object-fit: cover;
}

@media (min-width: $desktop) {
  .MissionLine-image {
    margin-left: 0;
  }
}

.MissionLine-name {
  position: absolute;
  width: 80%;
  top: -$spacing4;
  left: -$spacing3;
  font-size: $fontSize4;
  font-weight: $fontWeightMedium;
  color: $colorHome1;
  word-break: break-word;
  mix-blend-mode: color-dodge;
}

@media (min-width: $desktop) {
  .MissionLine-name {
    top: -$spacing5;
    left: -$spacing5;
    font-size: $fontSize5;
  }
}

.MissionLine-text {
  max-width: 100%;
  margin-top: -$spacing4;
  margin-right: -$spacing2;
}

@media (min-width: $desktop) {
  .MissionLine-text {
    max-width: 380px;
    margin-top: -$spacing5;
    margin-right: -$spacing4;
  }
}

/* -- .MissionLine (indexed) -- */
.MissionLine:nth-child(1) .MissionLine-name {
  transform: translateY(-8px) rotate(-5deg);
}

.MissionLine:nth-child(1) .MissionLine-text {
  transform: rotate(1deg);
}

@media (min-width: $desktop) {
  .MissionLine:nth-child(1) {
    transform: translate(max(-4vw, -80px), 0);
  }
}

.MissionLine:nth-child(2) .MissionLine-name {
  transform: translateY(-12px) rotate(2deg);
}

.MissionLine:nth-child(2) .MissionLine-text {
  transform: rotate(-3deg);
}

@media (min-width: $desktop) {
  .MissionLine:nth-child(2) {
    transform: translate(min(8vw, 160px), 0);
  }

  .MissionLine:nth-child(2) .MissionLine-name {
    transform: translateY(-2px) rotate(2deg);
  }
}

.MissionLine:nth-child(3) .MissionLine-name {
  transform: translateY(-10px) rotate(-5deg);
}

.MissionLine:nth-child(3) .MissionLine-text {
  transform: rotate(-1deg);
}

@media (min-width: $desktop) {
  .MissionLine:nth-child(3) {
    transform: translate(max(-8vw, -160px), 0);
  }

  .MissionLine:nth-child(2) .MissionLine-name {
    transform: translateY(-2px) rotate(2deg);
  }
}

.MissionLine:nth-child(4) .MissionLine-name {
  transform: translateY(-5px) rotate(1deg);
}

.MissionLine:nth-child(4) .MissionLine-text {
  transform: rotate(1deg);
}

@media (min-width: $desktop) {
  .MissionLine:nth-child(4) {
    transform: translate(min(4vw, 80px), 0);
  }
}

/* -- .Board -- */
.Mission + .PageDivider {
  transform: rotate(-1deg);
}

@media (min-width: $desktop) {
  .Mission + .PageDivider {
    margin-left: -60px;
  }
}

.Board-title {
  transform: rotate(1deg);
}

.Board-title > span::after {
  top: 10px;
  left: 10px;
}

@media (min-width: $desktop) {
  .Board-title {
    margin-left: -60px;
    transform: rotate(1deg);
  }
}

.Board-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $spacing5;
}

/* -- .BoardMember -- */
.BoardMember {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  cursor: zoom-in;
}

.BoardMember[open] {
  cursor: initial;
}

@media (min-width: $desktop) {
  .BoardMember {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* -- .BoardMember-* -- */
.BoardMember-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $sizeCard;
  transition: transform 350ms ease-out 100ms;
}

.BoardMember .BoardMember-card[class]:hover {
  transform: none;
}

.BoardMember-photo {
  display: block;
  width: $sizeCard;
  height: $sizeCard;
  object-fit: cover;
  border-radius: $borderRadius0;
}

.BoardMember-name {
  position: absolute;
  max-width: 180px;
}

.BoardMember-brief {
  width: $sizeCardContent;
}

.BoardMember-readMore {
  color: $colorHome1;
}

.BoardMember-summary::marker,
.BoardMember-summary::-webkit-details-marker {
  display: none;
  content: "";
}

/* -- .BoardMember (mitu) -- */
.BoardMember:nth-child(1) .BoardMember-card {
  transform: rotate(1deg);
}

@media (min-width: $desktop) {
  .BoardMember:nth-child(1) .BoardMember-card {
    margin-left: -30px;
    margin-top: -10px;
  }
}

.BoardMember:nth-child(1) .BoardMember-name {
  top: -10px;
  left: -50px;
  transform: rotate(-2deg);
}

.BoardMember:nth-child(1) .BoardMember-brief {
  margin-left: -20px;
  margin-top: -25px;
  transform: rotate(-3deg);
}

/* -- .BoardMember (zan) -- */
.BoardMember:nth-child(2) .BoardMember-card {
  transform: rotate(-1deg);
}

@media (min-width: $desktop) {
  .BoardMember:nth-child(2) .BoardMember-card {
    margin-left: 10px;
    margin-top: 25px;
  }
}

.BoardMember:nth-child(2) .BoardMember-name {
  top: -30px;
  right: 15px;
  transform: rotate(-18deg);
}

.BoardMember:nth-child(2) .BoardMember-brief {
  align-self: flex-end;
  margin-right: 10px;
  margin-top: -20px;
  transform: rotate(2deg);
}

/* -- .BoardMember (clay) -- */
.BoardMember:nth-child(3) .BoardMember-card {
  transform: rotate(-2deg);
}

@media (min-width: $desktop) {
  .BoardMember:nth-child(3) .BoardMember-card {
    margin-left: -20px;
    margin-right: 35px;
    margin-top: 15px;
  }
}

.BoardMember:nth-child(3) .BoardMember-name {
  align-self: center;
  margin-left: -10px;
  margin-top: -30px;
  transform: rotate(-1deg);
}

.BoardMember:nth-child(3) .BoardMember-brief {
  align-self: flex-end;
  margin-right: 10px;
  margin-top: -20px;
  transform: rotate(-2deg);
}

/* -- .BoardMember (mark) -- */
.BoardMember:nth-child(4) .BoardMember-card {
  transform: rotate(4deg);
}

@media (min-width: $desktop) {
  .BoardMember:nth-child(4) .BoardMember-card {
    margin-left: 5px;
    margin-top: -15px;
  }
}

.BoardMember:nth-child(4) .BoardMember-name {
  margin-left: -20px;
  margin-top: 60px;
  transform: rotate(1deg);
}

.BoardMember:nth-child(4) .BoardMember-brief {
  align-self: flex-end;
  margin-right: -20px;
  margin-top: -30px;
  transform: rotate(-0.5deg);
}

/* -- .BoardMember (steph) -- */
.BoardMember:nth-child(5) .BoardMember-card {
  transform: rotate(2deg);
}

@media (min-width: $desktop) {
  .BoardMember:nth-child(5) .BoardMember-card {
    margin-left: 15px;
  }
}

.BoardMember:nth-child(5) .BoardMember-name {
  margin-left: -55px;
  margin-top: 55px;
  transform: rotate(-45deg);
}

.BoardMember:nth-child(5) .BoardMember-brief {
  align-self: flex-end;
  margin-right: -50px;
  margin-top: -50px;
  transform: rotate(-15deg);
}

/* -- .BoardMember-modal -- */
.BoardMember-overlay {
  opacity: 0;
  transition: opacity 0.3s;
}

.BoardMember[open] .BoardMember-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    $angle,
    $gray0 0px,
    $gray0 1px,
    $white 1px,
    $white 8px
  );

  color: transparent;
  opacity: 0.8;
  z-index: 2;
  cursor: zoom-out;
}

.BoardMember-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  margin-top: $sizeNav;
  padding: $spacing2;
  pointer-events: none;
}

@media (min-width: $desktop) {
  .BoardMember-modal {
    margin-top: 0;
  }
}

.BoardMember-body[class] {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  max-height: 100%;
  padding: 0;
  border-radius: 10px;
  opacity: 0;
}

.BoardMember-content {
  flex: 1;
  overflow-y: scroll;
  padding: $spacing4;
}

@media (min-width: $desktop) {
  .BoardMember-content {
    overflow-y: hidden;
  }
}


.BoardMember[open] .BoardMember-body {
  opacity: 1;
}

.BoardMember-content > * {
  pointer-events: all;
}

.BoardMember-content > * + * {
  padding-top: $spacing1;
}

.BoardMember-close {
  position: absolute;
  top: $spacing2;
  right: $spacing2;
  width: 12px;
  height: 12px;
  stroke: $colorHome1;
  stroke-width: 2px;
}