/* -- .Mission -- */
.Mission {
  display: flex;
  flex-direction: column;
  gap: $spacing3;
}

@media (min-width: $desktop) {
  .Mission {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* -- .Mission-* -- */
@media (min-width: $desktop) {
  .Mission-chunk > * {
    max-width: 350px;
  }
}

.Mission-chunk:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: $desktop) {
  .Mission-chunk:nth-child(1) {
    justify-content: unset;
  }
}

.Mission-line {
  padding: $spacing1;
  border-radius: $borderRadius1;
  /* background-color: $pink; */
  background: repeating-linear-gradient(
    60deg,
    $pinkSofter 0px,
    $pinkSofter 2px,
    $pink 2px,
    $pink 8px
  );
  transition: 500ms ease-out 100ms;
}

.Mission-chunk[class] > .Mission-line:hover {
  transform: scale(1.2);
}

.Mission-chunk:nth-child(2) > .Mission-line {
  transform: rotate(-2deg);
}

.Mission-chunk:nth-child(3) > .Mission-line {
  transform: rotate(3deg);
}

.Mission-chunk:nth-child(4) > .Mission-line {
  transform: rotate(-2deg);
}

.Mission-chunk:nth-child(5) > .Mission-line {
  transform: rotate(2deg);
}

/* -- .Mission-chunk [desktop] -- */
@media (min-width: $desktop) {
  .Mission-chunk:nth-child(1) {
    order: 2;
    margin-left: 200px;
  }

  .Mission-chunk:nth-child(2) {
    order: 1;
    flex-basis: 100%;
    margin-left: 80px;
  }

  .Mission-chunk:nth-child(3) {
    order: 3;
    flex: 1;
    margin-left: 144px;
  }

  .Mission-chunk:nth-child(4) {
    order: 4;
    flex-basis: 100%;
    margin-left: 240px;
  }

  .Mission-chunk:nth-child(5) {
    order: 5;
    flex-basis: 100%;
    margin-left: 128px;
  }
}

/* -- .Board -- */
.Board-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $spacing3;
}

/* -- .BoardMember -- */
.BoardMember {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: $spacing2;
  margin-bottom: $spacing2;
}

@media (min-width: $desktop) {
  .BoardMember {
    flex-direction: row;
    align-items: flex-start;
  }
}

.BoardMember-card {
  position: relative;
  width: 300px;
}

.BoardMember-photo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: $borderRadius0;
}

.BoardMember-name {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 120px;
  background-color: $pink;
  padding: $spacing1;
  border-radius: $borderRadius1;
}

.BoardMember-brief {
  margin-left: $spacing1;
  margin-right: $spacing1;
  padding: $spacing1;
  background-color: $pink;
  border-radius: $borderRadius1;
}

.BoardMember-summary::marker {
  display: none;
  content: "";
}

.BoardMember-overlay {
  opacity: 0;
  transition: opacity 0.3s;
}

.BoardMember[open] .BoardMember-overlay {
  color: transparent;
  background-color: #00ff00;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.BoardMember-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  pointer-events: none;
}

.BoardMember-body {
  width: 400px;
  padding: $spacing1;
  background-color: $green;
  border-radius: 10px;
  pointer-events: all;
  opacity: 0;
  transition: opacity 0.3s;
}

.BoardMember[open] .BoardMember-body {
  opacity: 1;
}

.BoardMember-body > * + * {
  margin-top: $spacing0;
}
