<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/site.css">
  </head>

  <body class="Page">
    <h1 class="Page-logo">
      Wonderville Projects
    </h1>

    <nav class="Nav">
      <a class="Nav-link" href="/">Home</a>
      <a class="Nav-link" href="/projects">Projects</a>
      <a class="Nav-link" href="/donate">Donate</a>
    </nav>

    <main class="Page-content {{ class }}">
      {{ content }}
    </main>
  </body>
</html>