/* -- theme -- */
.Programs {
  --color0: $colorPrograms0;
  --color1: $colorPrograms1;
}

.NavLink--programs:hover {
  color: $colorPrograms0;
  background-color: $colorPrograms1;
}

.Programs .NavLink--programs {
  color: $colorPrograms0;
  background-color: $colorPrograms1;
  pointer-events: none;
}

/* -- programs -- */
.Program {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Program-description {
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.Program-image {
  height: 500px;
  border-radius: $borderRadius0;
}

.Program-description.right {
  bottom: 10px;
  right: 10px;
}

.Program-description.left {
  bottom: 10px;
  left: 10px;
}
