/* -- theme -- */
.Programs {
  --color0: $colorPrograms0;
  --color1: $colorPrograms1;
}

.NavLink--programs:hover {
  color: $colorPrograms0;
  background-color: $colorPrograms1;
}

.Programs .NavLink--programs {
  color: $colorPrograms0;
  background-color: $colorPrograms1;
  pointer-events: none;
}

/* -- programs -- */
.Program {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Program-image {
  width: 560px;
  height: 400px;
}

.Program-description {
  position: absolute;
  padding: $spacing2;
  border-radius: $borderRadius1;
  background-color: $colorPrograms0;
  max-width: 450px;
}

.Program-description.right {
  bottom: 10px;
  right: 10px;
}

.Program-description.left {
  bottom: 10px;
  left: 10px;
}
