/* -- theme -- */
.Programs {
  --color0: $colorPrograms0;
  --color1: $colorPrograms1;
  --color2: $colorPrograms2;
}

.NavLink--programs:hover {
  color: $colorPrograms0;
  background-color: $colorPrograms1;
}

.Programs .NavLink--programs {
  color: $colorPrograms0;
  background-color: $colorPrograms1;
  pointer-events: none;
}

/* -- Programs --*/
.Programs .PageDivider {
  margin-top: $spacing6;
}

@media (min-width: $desktop) {
  .Programs .PageDivider {
    margin-top: $spacing8;
  }
}

/* -- Program -- */
.Program {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Program-description {
  max-width: 600px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}

@media (min-width: $desktop) {
  .Program-description {
    margin-bottom: $spacing5;
  }
}

/* -- Program-images -- */
.Program-images {
  display: flex;
  flex-direction: column;
  gap: $spacing3;
}

@media (min-width: $desktop) {
  .Program-images {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: $spacing4;
  }
}

/* -- Program-image -- */
.Program-image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: $borderRadius0;
  object-fit: cover;
}

@media (min-width: $desktop) {
  .Program-image {
    height: 500px;
    min-width: 200px;
    aspect-ratio: initial;
  }
}

/* -- Program-image (indexed) -- */
.Program-image:nth-child(1) {
  transform: translate(-3px, 0px) rotate(-0.5deg);
}

.Program-image:nth-child(2) {
  transform: translate(0px, 7px) rotate(-0.1deg);
}

.Program-image:nth-child(3) {
  transform: translate(0px, 5px) rotate(1deg);
}

/* -- Internship -- */
.Internship-title {
  transform: rotate(-1deg);
}

.Internship-title > span::after {
  top: 10px;
  left: 10px;
}

.Internship + .PageDivider {
  transform: rotate(-1deg);
}

/* -- Residencies -- */
.Residencies-title {
  transform: rotate(2deg);
}

.Residencies-title > span::after {
  top: 5px;
  left: -10px;
}

.Residencies + .PageDivider {
  transform: rotate(1deg);
}

/* -- GameJams -- */
.GameJams-title {
  transform: rotate(-2deg);
}

.GameJams-title > span::after {
  top: -2px;
  left: 10px;
  transform: rotate(-1deg);
}

.GameJams + .PageDivider {
  transform: rotate(-1deg);
}

/* -- PlaytestNight -- */
.PlaytestNight-title {
  transform: rotate(2deg);
}

.PlaytestNight-title > span::after {
  top: 2px;
  left: 10px;
  transform: rotate(1deg);
}