<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/site.css">
  </head>

  <body>
    <nav class="Nav">
      <h1 class="Nav-title">Wonderville Projects! :)</h1>
      <div class="Nav-links">
        <a class="Nav-link" href="/">Home</a>
        <a class="Nav-link" href="/projects">Projects</a>
        <a class="Nav-link" href="/donate">Donate</a>
      </div>
    </nav>

    <main class="Content">
      {{ content }}
    </main>
  </body>
</html>