<article class="Project">
  <h1>{{ project.data.name }}</h1>
  {% if project.data.organizer != null %}
    <h2>by {{ project.data.organizer }}</h2>
  {% endif %}

  {% if project.content != "" %}
    <div class="Project-body">
      {{ project.content }}
    </div>
  {% endif %}
</article>