/* -- colors -- */
$colorHome0: #fff4f8;
$colorHome1: #ffa1c6;
$colorHome2: #ffdbe9;

$colorPrograms0: #f3fdf7;
$colorPrograms1: #65e8d2;
$colorPrograms2: #c3f7ee;

$colorDonate0: #fdf3fc;
$colorDonate1: #e484ff;
$colorDonate2: #f2c5ff;

/* -- grayscale -- */
$black: #000000;
$white: #ffffff;
$gray0: #eeeeee;
