/* -- colors -- */
$colorHome0: #fdf3f3;
$colorHome1: #ff7a7a;
$colorPrograms0: #fdf3fc;
$colorPrograms1: #e87aff;
$colorDonate0: #f3fdf7;
$colorDonate1: #5afda1;

/* -- grayscale -- */
$black: #000000;
$white: #ffffff;
$gray0: #eeeeee;
