/* -- config -- */
$fontBrand: "league-spartan";
$fontSans: $fontBrand, sans;
$fontSize-base: 16px;

/* -- sizes -- */
$fontSize0: 1.1em;
$fontSize1: 1.5em;
$fontSize2: 2.5em;
$fontSize3: 3em;
$fontSize4: 4.2em;
$fontSize5: 6em;

/* -- weights -- */
$fontWeightRegular: 400;
$fontWeightMedium: 500;

/* -- fonts -- */
@font-face {
  font-family: $fontBrand;
  src: url("font/league-spartan.woff2") format("woff2-variations"),
    url("font/league-spartan.woff") format("woff-variations"),
    url("font/league-spartan.ttf") format("ttf-variations");
  font-weight: 200 900;
}
