/* -- sizes -- */
$sizeCard: 300px;

/* -- margins -- */
$margin: 20px;
$marginDesktop: 70px;

/* -- spacings -- */
$spacing0: 10px;
$spacing1: 15px;
$spacing2: 20px;
$spacing3: 30px;
$spacing4: 45px;
