/* -- sizes -- */
$sizeLogo: 881px;
$sizeHeader: 400px;
$sizeHeaderDesktop: 550px;

$sizeNav: 61px;
$sizeNavDesktop: 91px;

$sizeNavHalf: 30px;
$sizeNavDesktopHalf: 45px;

/* headerImage.height = header.height + nav.height - 1 */
/* (the -1 is for the intersection observer) */
$sizeHeaderImage: 460px;
$sizeHeaderImageDesktop: 640px;

/* sizeCardContent = sizeCard - $spacing2 * 2 */
$sizeCard: 280px;
$sizeCardContent: 250px;

/* -- margins -- */
$marginVertical: 30px;
$marginHorizontal: 30px;
$marginDesktopVertical: 100px;
$marginDesktopHorizontal: 70px;

/* -- spacings -- */
$spacing0: 5px;
$spacing1: 10px;
$spacing2: 15px;
$spacing3: 20px;
$spacing4: 30px;
$spacing5: 45px;
