<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">

    <!-- page -->
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- preview -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">

    <!-- assets -->
    <link rel="stylesheet" href="/site.css">
  </head>

  <body class="Page">
    <h1 class="Page-logo">
      Wonderville Projects
    </h1>

    <nav class="Nav">
      <a class="Nav-link" href="/">Home</a>
      <a class="Nav-link" href="/projects">Projects</a>
      <a class="Nav-link" href="/donate">Donate</a>
    </nav>

    <main class="Page-content {{ class }}">
      {{ content }}
    </main>
  </body>
</html>