<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">

    <!-- page -->
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- preview -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">

    <!-- assets -->
    <link rel="stylesheet" href="/site.css">
    <script type="module" src="/site.js"></script>
  </head>

  <body>
    <div class="Page {{ title | camelize }}">
      <header class="PageHeader Page-header">
        <img
          class="PageHeader-bg"
          src="/img/patio.png"
          alt="a patio with four tree trunk cross cut looking tabletops, the sun illuminates a small spot on the left of the image"
        >

        <div class="PageHeader-title">
          <h1 class="PageHeader-logo">
            <img
              class="PageHeader-logoImage"
              src="/img/logo.svg"
              alt="the word 'wonderville', but the w looks like a sound signal"
            >
          </h1>

          <div class="PageHeader-subtitle">
            <h2 class="PageHeader-projects">projects</h2>
          </div>

        </div>

        <p class="PageHeader-org">a 501c3 org<p>
      </header>

      <nav id="nav" class="Nav">
        <div class="Nav-background"></div>
        <div class="Nav-links">
          <a class="NavLink NavLink--home" href="/">Home</a>
          <a class="NavLink NavLink--projects" href="/projects">Programs</a>
          <a class="NavLink NavLink--donate" href="/donate">Donate</a>
        </div>
      </nav>

      <div class="Page-center">
        <main class="Page-content">
          {{ content }}
        </main>
      </div>

      <footer class="PageFooter">
        <img
          class="PageFooter-bg"
          src="/img/footer.png"
          alt="teal shoes with wonderville logo pattern on wood background"
        >

        <span class="PageFooter-credits">
          website made by <a href="https://boshi.flowers">the boshi's</a>
        </span>
      </footer>
    </div>
  </body>
</html>