<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">

    <!-- page -->
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- preview -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">

    <!-- assets -->
    <link rel="stylesheet" href="/site.css">
    <script type="module" src="/site.js"></script>
  </head>

  <body class="Page">
    <header class="PageHeader Page-header">
      <img height="296" class="PageHeader-image" src="/img/patio.png" alt="a patio with four tree trunk cross cut looking tabletops, the sun illuminates a small spot on the left of the image">
      <img class="PageHeader-logo" src="/img/wv-logo-white.png" alt="the word wonderville, but the w looks like a sound signal">
    </header>

    <nav id="nav" class="Nav">
      <div class="Nav-background"></div>
      <div class="Nav-links">
        <a class="Nav-link" href="/">Home</a>
        <a class="Nav-link" href="/projects">Programming</a>
        <a class="Nav-link" href="/donate">Donate</a>
      </div>
    </nav>

    <div class="Page-center">
      <main class="Page-content {{ title | camelize }}">
        {{ content }}
      </main>
    </div>

    <footer class="Page-footer">
      <img class="PageFooter-image" src="/img/footer.png" alt="teal shoes with wonderville logo pattern on wood background">
      <div class="PageFooter-credits">
        website made by <a href="https://boshi.flowers">the boshi's</a>
      </div>
    </footer>
  </body>
</html>