/* -- .ProgramEventDetail -- */
.ProgramEventDetail {
  display: flex;
  flex-direction: column;
}

/* -- .ProgramEventDetail-title -- */
.ProgramEventDetail-title {
  transform: rotate(calc(1.5deg * (var(--rand) * 2 - 1)));
}

/* -- .ProgramEventDetail-date -- */
.ProgramEventDetail-date {
  display: flex;
  align-self: center;
  max-width: 600px;
  margin-top: $spacing2;
  font-size: $fontSize1;
}

@media (min-width: $desktop) {
  .ProgramEventDetail-date {
  }
}

/* -- .ProgramEventDetail-content -- */
.ProgramEventDetail-content {
  display: flex;
  flex-direction: column;
  gap: $spacing3;
}

@media (min-width: $desktop) {
  .ProgramEventDetail-content {
    gap: $spacing5;
    flex-direction: row;
  }
}

/* -- .ProgramEventDetail-poster -- */
.ProgramEventDetail-poster {
  width: 100%;
  object-fit: contain;
  object-position: top;
  transform: rotate(calc(-1deg * (var(--rand) * 2 - 1)));
}

@media (min-width: $desktop) {
  .ProgramEventDetail-poster {
    width: 350px;
  }
}

/* -- .ProgramEventDetail-body -- */
.ProgramEventDetail-body > p + p {
  margin-top: $spacing1;
}

.ProgramEventDetail-body > h1 {
  font-size: $fontSize2;
}

.ProgramEventDetail-body > h2 {
  font-size: $fontSize1;
}

.ProgramEventDetail-body > h2 {
  margin-top: $spacing2;
}

.ProgramEventDetail-body strong {
  font-weight: $fontWeightMedium;
}

.ProgramEventDetail-body em {
  font-style: italic;
}