<section class="PageSection Program" id="{{ program.data.id }}">
  <h1 class="Program-title PageSection-title">
    <span class="PageSection-titleText">{{ program.data.name }}</span>
  </h1>

  <div class="PageSection-subtitle Program-description">
    {{ program.data.description }}
  </div>

  <div>
    <img class="Program-image" src="/img/internship1.jpg" />
    <img class="Program-image" src="/img/internship2.jpg" />
  </div>
</section>