<article class="ProgramEvent Rand--{{100 | rand}}">
  <h1 class="ProgramEvent-title">
    <a href="/programs/internship/{{event.fileSlug}}">{{event.data.name}}</a>
  </h1>

  <p class="ProgramEvent-date">
    {{event.data.date | toShortDate}}
  </p>

  <img
    class="ProgramEvent-poster"
    src="/img/{{event.data.poster}}"
  >
</article>