---
layout: Page.liquid
root: donate
image: playtest-night/playtest2.jpg
description: If you would like to make a financial contribution to Wonderville Projects, we would greatly appreciate it.
---

<script src="https://donorbox.org/widget.js" paypalExpress="true"></script>

<!-- ~*~ Donate ~*~ -->
<section class="Donation PageSection">
  <div class="Donate-block">
    <header class="PageSection-header">
      <h1 class="Donation-title PageSection-title">
        <span class="PageSection-titleText">Donation</span>
      </h1>
    </header>

    <h2 class="PageSection-subtitle">
      If you would like to make a financial contribution, we would greatly appreciate it. Wonderville Projects is a 501(c)-3 tax deductible organization.
    </h2>
  </div>

  <div class="Donation-form">
    <iframe
      class="Donation-widget"
      src="https://donorbox.org/embed/wonderville-projects-general-donation"
      name="donorbox"
      allowpaymentrequest="allowpaymentrequest"
      seamless="seamless"
      frameborder="0"
      scrolling="no"
      width="320px"
      height="476px"
    >
    </iframe>
  <div class="Donation-wrapper">
</section>

<!-- ~*~ WishList ~*~ -->
<div class="PageDivider"></div>

<section class="WishList PageSection">
  <div class="Donate-block">
    <header class="PageSection-header">
      <h1 class="WishList-title PageSection-title">
        <span class="PageSection-titleText">Wish List</span>
      </h1>
    </header>

    <h2 class="PageSection-subtitle">
      <p>If you have contacts or know any companies interested in providing in-kind donations, here is a list of items we could use for programming and projects.</p>
      <p>Thank you in advance for considering helping our organization!</p>
    </h2>
  </div>

  <ul class="WishList-items Box">
    {% render "donate/Wish.liquid" for collections.wishes as wish %}
  </ul>
</section>