---
layout: Page.liquid
name: donate
---

<script src="https://donorbox.org/widget.js" paypalExpress="true"></script>

<!-- ~*~ Donate ~*~ -->
<section class="Donation PageSection Donation-section">
  <div class="Donate-block">
    <h1 class="PageSection-title">
      <span class="PageSection-titleText">Donation</span>
    </h1>

    <h2 class="PageSection-subtitle">
      If you would like to make a financial contribution, we would greatly appreciate it.
    </h2>
  </div>  
  <div class="Donation-form">
    <iframe
      class="Donation-widget"
      src="https://donorbox.org/embed/wonderville-projects-general-donation"
      name="donorbox"
      allowpaymentrequest="allowpaymentrequest"
      seamless="seamless"
      frameborder="0"
      scrolling="no"
      width="320px"
      height="476px"
    >
    </iframe>
  <div class="Donation-wrapper">
</section>

<!-- ~*~ WishList ~*~ -->
<section class="WishList PageSection">
  <div class="Donate-block">
    <h1 class="PageSection-title">
      <span class="PageSection-titleText">Wish List</span>
    </h1>

    <h2 class="PageSection-subtitle">
      If you have contacts or know any companies interested in providing in-kind donations, here is a list of items we could use for programming and projects. Thank you in advance for considering helping our organization!
    </h2>
  </div>
  <ul class="WishList-items Box">
    {%- for wish in collections.wishes %}
      <li>{% render "donate/Wish.liquid", wish: wish %}</li>
    {%- endfor %}
  </ul>
</section>