---
layout: page.liquid
title: home
---
<h1 class="Page-title">Hi 😈</h1>

<section class="Mission">
  <h1 class="Mission-title">
    Mission
  </h1>

  <ul class="Mission-lines">
    <li class="Mission-line">
      Foster a community of NYC based independent game developers & creative technologists
    </li>

    <li class="Mission-line">
      Host local events to educate the community about game development and the game industry and new platforms for creative interactive art and provide networking opportunities to members
    </li>

    <li class="Mission-line">
      Facilitate mentorships between knowledgeable members of the community , industry professionals and students looking to enter the game development industry and/or interactive arts
    </li>

    <li class="Mission-line">
      Facilitate in showing student work from mentorship program and other local programs in the area
    </li>
  </ul>
</section>