---
layout: Page.liquid
name: home
title: Wonderville Projects
image: img/header-still.png
description: Wonderville Projects is a Brooklyn-based nonprofit focused on fostering a community of independent game developers and creative technologists
---

<!-- ~*~ Mission ~*~ -->
<section class="Mission PageSection">
  <h1 class="Mission-title">
    Wonderville Projects is a Brooklyn-based nonprofit focused on fostering a community of independent game developers and creative technologists
  </h1>

  <div class="Mission-lines">
    {%- for line in collections.mission %}
      {% render "home/MissionLine.liquid", line: line %}
    {%- endfor %}
  </div>
</section>

<!-- ~*~ Board ~*~ -->
<div class="PageDivider"></div>

<section class="Board PageSection">
  <h1 class="Board-title PageSection-title">
    <span class="PageSection-titleText">Board</span>
  </h1>

  <div id="board" class="Board-members">
    {%- for member in collections.board %}
      {% render "home/BoardMember.liquid", member: member %}
    {%- endfor %}
  </div>
</section>