---
layout: Page.liquid
title: Home
---
<!-- ~*~ Mission ~*~ -->
<section class="Mission PageSection">
  <div class="Mission-chunk">
    <h1 class="Mission-title PageSection-title">
      Mission
    </h1>
  </div>

  <div class="Mission-chunk">
    <p class="Mission-line Box">
      Foster a community of NYC based independent game developers & creative technologists
    </p>
  </div>

  <div class="Mission-chunk">
    <p class="Mission-line Box">
      Host local events to educate the community about game development and the game industry and new platforms for creative interactive art and provide networking opportunities to members
    </p>
  </div>

  <div class="Mission-chunk">
    <p class="Mission-line Box">
      Facilitate mentorships between knowledgeable members of the community , industry professionals and students looking to enter the game development industry and/or interactive arts
    </p>
  </div>

  <div class="Mission-chunk">
    <p class="Mission-line Box">
      Facilitate in showing student work from mentorship program and other local programs in the area
    </p>
  </div>
</section>

<!-- ~*~ Board ~*~ -->
<section class="Board PageSection">
  <h1 class="PageSection-title">
    Board
  </h1>

  <div class="Board-members">
    {%- for member in collections.board %}
      {% render "home/BoardMember.liquid", member: member %}
    {%- endfor %}
  </div>
</section>

<!-- ~*~ Contact ~*~ -->
<section class="Contact PageSection">
  <h1 class="PageSection-title">
    Contact
  </h1>

  <div>
    Email us at
    <a href="mailto:hello@wonderville.nyc">hello@wonderville.nyc</a>
  </div>
</section>