---
layout: Page.liquid
name: programs
---

<!-- ~*~ Internship ~*~ -->
<section class="PageSection">
  <h1 class="PageSection-title">
    <span class="PageSection-titleText">Internship</span>
  </h1>

  {%- for program in collections.internships %}
    {% render "programs/Program.liquid", program: program %}
  {%- endfor %}
</section>

<!-- ~*~ Residencies ~*~ -->
<section class="PageSection">
  <h1 class="PageSection-title">
    <span class="PageSection-titleText">Residencies</span>
  </h1>

  {%- for program in collections.residencies %}
    {% render "programs/Program.liquid", program: program %}
  {%- endfor %}
</section>

<!-- ~*~ Game Jams ~*~ -->
<section class="PageSection">
  <h1 class="PageSection-title">
    <span class="PageSection-titleText">Game Jams</span>
  </h1>

  {%- for program in collections.jams %}
    {% render "programs/Program.liquid", program: program %}
  {%- endfor %}
</section>

<!-- ~*~ Playtest Night ~*~ -->
<section class="PageSection">
  <h1 class="PageSection-title">
    <span class="PageSection-titleText">Playtest Night</span>
  </h1>

  {%- for program in collections.playtests %}
    {% render "programs/Program.liquid", program: program %}
  {%- endfor %}
</section>