---
layout: Page.liquid
name: programs
---

<!-- ~*~ Internship ~*~ -->
<section class="PageSection Program" id="internship">
  <h1 class="PageSection-title">
    <span class="PageSection-titleText">Internship</span>
  </h1>

  <div class="PageSection-subtitle Program-description">
    Wonderville Projects works with the NYU Game Center each semester to curate unique game showcases each month
  </div>

  <div>
    <img class="Program-image" src="/img/internship1.jpg" />
    <img class="Program-image" src="/img/internship2.jpg" />
  </div>
</section>

<!-- ~*~ Residencies ~*~ -->
<section class="PageSection Program" id="residencies">
  <h1 class="PageSection-title">
    <span class="PageSection-titleText">Residencies</span>
  </h1>

  <div class="PageSection-subtitle Program-description">
    Wonderville Projects collaborates with Death By Audio Arcade to select games for two residency programs four times per year
  </div>

  <div>
    <img class="Program-image" src="/img/residency1.jpg" />
    <img class="Program-image" src="/img/residency2.jpg" />
    <img class="Program-image" src="/img/residency3.jpg" />
  </div>
</section>

<!-- ~*~ Game jams ~*~ -->
<section class="PageSection Program" id="game-jams">
  <h1 class="PageSection-title">
    <span class="PageSection-titleText">Game Jams</span>
  </h1>

  <div class="PageSection-subtitle Program-description">
    Once a month we host an all-ages game jam on a Saturday afternoon to introduce the community to new tools in game development (hosted by Blake Andrews)
  </div>

  <div>
    <img class="Program-image" src="/img/smush-bois-controllers.jpg" />
    <img class="Program-image" src="/img/soil-keyboards.jpg" />
  </div>
</section>

<!-- ~*~ Playtest night ~*~ -->
<section class="PageSection Program" id="playtest-night">
  <h1 class="PageSection-title">
    <span class="PageSection-titleText">Playtest Night</span>
  </h1>

  <div class="PageSection-subtitle Program-description">
    Once a month we invite developers to Playtest Night to show their works in progress and get feedback from the rest of the community
  </div>

  <div>
    <img class="Program-image" src="/img/playtest1.jpg" />
    <img class="Program-image" src="/img/playtest2.jpg" />
  </div>
</section>