---
layout: Page.liquid
root: programs
image: playtest-night/playtest1.jpg
description: Wonderville Projects is a Brooklyn-based nonprofit that runs a vareity a programs for the NYC community of independent game developers and creative technologists
---

<!-- ~*~ Programs ~*~ -->
{%- for program in collections.programs %}
  {%- unless forloop.first %}
    <div class="PageDivider"></div>
  {%- endunless %}

  {% render "programs/Program.liquid", program: program %}
{%- endfor %}
