---
layout: Page.liquid
title: Projects
---
<!-- ~*~ Playtest Night ~*~ -->
<section class="PageSection">
  <h1 class="PageSection-title">
    Playtest Night
  </h1>

  {%- for project in collections.playtests %}
    {% render "projects/Project.liquid", project: project %}
  {%- endfor %}
</section>

<!-- ~*~ Game Jams ~*~ -->
<section class="PageSection">
  <h1 class="PageSection-title">
    Game Jams
  </h1>

  {%- for project in collections.jams %}
    {% render "projects/Project.liquid", project: project %}
  {%- endfor %}
</section>

<!-- ~*~ Residencies ~*~ -->
<section class="PageSection">
  <h1 class="PageSection-title">
    Residencies
  </h1>

  {%- for project in collections.residencies %}
    {% render "projects/Project.liquid", project: project %}
  {%- endfor %}
</section>

<!-- ~*~ Internship ~*~ -->
<section class="PageSection">
  <h1 class="PageSection-title">
    Internship
  </h1>

  {%- for project in collections.internships %}
    {% render "projects/Project.liquid", project: project %}
  {%- endfor %}
</section>