@import "reset.css";

/* -- .Page -- */
.Page {
  font-size: 16px;
}

.Page-logo {
  font-size: 2.5em;
  font-weight: bold;
  font-style: italic;
  color: magenta;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.Page-title {
  font-size: 2.3em;
  margin-bottom: 15px;
}

.Page-content {
  padding: 20px;
}

/* -- .Nav -- */
.Nav {
  position: sticky;
  display: flex;
  top: 0;
  gap: 20px;
  padding: 20px;
  background-color: white;
}

.Nav-link {
  color: black;
}

.Nav-link:visited {
  color: black;
}

@media (min-width: 600px) {
  .Nav {
    border-bottom: 1px solid black;
  }
}

/* -- .Home -- */
.Mission {
  border-top: 1px dashed black;
  padding-top: 15px;
}

.Mission-title {
  font-size: 1.5em;
}

.Mission-line {
  margin-top: 15px;
  font-size: 1em;
}
